$padding-horizontal-mobile: 100px;
$padding-horizontal-sm: 150px;
$padding-horizontal-md: 200px;
$padding-horizontal: 250px;
$dark: #242536;
$dark-grey: #92929D;
$grey: #E4E4E4;
$black: #4C4D5E;
$light-grey: #3B2F2F;
$blue: #282B57;
$red: #D73B3B;