@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Kumbh+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body {
  background-color: #F6F6F6;
}

* {
  box-sizing: border-box;
  font-family: 'Italiana', sans-serif;
}