.cardapio {
    &__filtros {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        width: 100%;
        margin-bottom: 30px;
    }
}